:root {
    /*
     * Extra space reserved on both sides of the nav-bar
     * to be able to drag the window
     */
    --uc-window-drag-space-width: 4px;

    /*
     * Space reserved for the top toolbar of the browser
     *
     *                | normal | compact | touch
     * Menu bar       |  27px  |   27px  |  27px
     */
    --uc-menubar-height: 0px;
    /*
     * Tab bar        |  33px  |   29px  |  41px
     */
    --uc-tabbar-height: 0px;
    /*
     * Nav bar        |  40px  |   32px  |  40px
     */
    --uc-navbar-height: 32px;
    /*
     * Bookmarks bar  |  23px  |   21px  |  27px
     */
    --uc-favbar-height: 0px;
    /**/

    --uc-toolbar-height: calc(
        var(--uc-menubar-height) +
        var(--uc-tabbar-height) +
        var(--uc-navbar-height) +
        var(--uc-favbar-height)
    );

    /*
     * Sidebar widths, normal (min) and hovered (max)
     */
    --uc-sidebar-minwidth: 95px;
    --uc-sidebar-maxwidth: 325px;
}

:root[sizemode="fullscreen"] {
    --uc-navbar-height: 0px;
}

#nav-bar::before,
#nav-bar::after {
    content: '';
    display: -moz-box;
    width: var(--uc-window-drag-space-width);
}

#TabsToolbar {
    display: none;
}

#main-menubar {
    -moz-box-flex: 1;
    background-color: var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor);
    background-clip: padding-box;
    border-image: linear-gradient(to left, transparent, var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor) 30px) 20 / 30px;
}

#toolbar-menubar:not([inactive]){
    z-index: 2;
    --uc-menubar-height: 27px;
}

#toolbar-menubar[inactive] > #menubar-items {
    opacity: 0;
    pointer-events: none;
    margin-left: var(--uc-window-drag-space-width);
}

#toolbar-menubar:not([inactive]) ~ #browser #sidebar-box {
    padding-bottom: 30px;
}

#navigator-toolbox {
    border-bottom: 0 !important;
}

#sidebar-box {
    height: calc(100vh - var(--uc-toolbar-height));
    position: relative !important;
    overflow-x: hidden !important;
    margin-right: calc(var(--uc-sidebar-minwidth) * -1) !important;
    min-width: var(--uc-sidebar-minwidth) !important;
    max-width: var(--uc-sidebar-minwidth) !important;
}

#sidebar-box:not([hidden]) {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: var(--uc-sidebar-minwidth);
    position: fixed;
    z-index: 1;
    transition: all 90ms ease-out;
    border-right: 1px solid var(--toolbar-field-border-color);
}

#sidebar-box:not([hidden]) ~ #appcontent {
    margin-left: var(--uc-sidebar-minwidth);
}

#sidebar {
    flex-grow: 1;
}

#sidebar-box:hover {
    margin-right: calc(var(--uc-sidebar-maxwidth) * -1) !important;
    min-width: var(--uc-sidebar-maxwidth) !important;
    max-width: var(--uc-sidebar-maxwidth) !important;
}

#sidebar-box:hover #sidebar {
    width: calc(var(--uc-sidebar-maxwidth) - 1px) !important;
}

#sidebar-splitter {
    display: none;
}

#main-window[inFullscreen][inDOMFullscreen] #appcontent {
    margin-left: 0;
}

/*
#main-window[inFullscreen][inDOMFullscreen] #sidebar-box,
#main-window[inFullscreen][inDOMFullscreen] #sidebar-box #sidebar {
    height: 100vh !important;
}
*/

#sidebar-header {
    display: none;
}

#pocket-button-box,
.urlbar-go-button {
    display: none !important;
}

toolbarspring {
    -moz-box-flex: unset !important;
}

